[Desktop Entry]
Name=Fire★ 
GenericName=P2P Platform
Comment=The Grass Computing Platform
Exec=firestr
StartupNotify=true;
Terminal=false
Type=Application
Icon=firestr
Categories=Qt;Network;InstantMessaging;
